header {
    .subHeader h1 {
        font-size: 2rem;
    }

    .moto {
        font-size: 1.2rem;
    }
}

nav {
    .menubar {
        display: flex;
    }

    .menubar li {
        display: block;
        flex: 1 1 100%;
    }

    .menubar li:first-child {
        display: none;
    }
}

.landing {
    margin-top: 10px;

    position: relative;
}

.summary {
    position: absolute;
    background-color: $navBackground;
    border: #fff solid 2px;
    opacity: 0.8;
    top: 20px;
    left: 5px;
    padding: 1rem;
    color: #FFF;
    box-shadow: 10px 10px 25px rgb(29, 31, 32);
    max-width: 200px;
}    

.callToAction {
    margin-top: 15px;
    max-width: 400px;
}

//---------contact------------
.form .formPrice {
    max-width: 600px;
    form fieldset {
        padding: .5rem 4% 1rem 25%;
    }
}

//-------activities -----------
.choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

}

.adventureChoice {
    max-width: 400px;

}

.last {
    grid-column: span 2;
}

//---------- guides ------------
.employees {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    section {
        max-width: 400px;
    }

    section:last-child {
        grid-column: span 2;
    }
}



