$primaryColor: #e4c517;

// ----------------Fonts--------------------
$fontTitle: 'Quicksand', helvetica;
$fontText: 'lato', sans-serif;
$regularWeight: 400;
$heavyWeight: 700;

// --------------Colors---------------------
$headerBackground: #499b73;
$colorBlack: #000;
$colorWhite:#FFF;
$navBackground: #384d48;
$navActiveBackground: #aa8143;
$navHoverBackground: #4287b5;

// -------------Others----------------------
$gutter: 2%;