body {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  font-family:'Sarabun', 'Poppins';
  /* background-color: rgb(209, 201, 209); purple*/  
  /* background-color: rgb(187, 187, 187); grey*/
  background-color: rgba(207, 200, 207, 0.863);
}
 
header, footer {
  margin: 1rem auto;
  padding:  0.5rem;
  background-color: #f2b541;
  font-family:'Roboto', sans-serif;
  text-align: center;
  border: 1px solid #0d0808;
  
} 

header {
  display: flex;
  font-size: 30px;
  
}

footer {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 15px;
  margin: auto;
  
}

footer p {
  font-size: 25px;
  margin-left: 8px;
}

main {
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid #0d0808;
  background-color: #f2b541;
  
}

h1 {
  color: #000000;
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 3px;
  color: #1a1a1a;
  border-bottom: 1px solid black;
  font-family: "Poppins";
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 20px;

}

.page {
  max-width: 960px;
  margin: 0 auto;
}


a {
  text-decoration: none;

}

.mainnav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  margin: auto;
  margin-left: 20px;
 
}

.mainnav ul { 
  display: flex;
  list-style: none;

  
}

.mainnav li {
  padding: 5px 25px;
  margin: 5px;
  
}

.mainnav a {
  color:rgb(0, 0, 0);
  font-weight: 600;
  padding: 5px 20px;
  margin: 5px 0px;
  font-size: 35px;
  font-family: "Sarabun";
}


.mainnav li a:hover {
  opacity: .6;
  transition-duration: .1s;
}


.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}


.herodiv {
  position: relative;
  width: 100%;
}

.hero-image {
  width: 100%;
  height: auto;
  box-shadow: 0 0 15px #000000;
  margin-bottom: .5rem;
}

.herodiv h1 {
  position: absolute;
  /* background-color: rgb(209, 201, 209); */
  /* background-color: #f57723; */
  background-color: #fa8232;

  border: 3px solid rgb(0, 0, 0);
  letter-spacing: 2px;
  font-family: 'Poppins';
  font-size: 60px;
  margin: 0;
  width: fit-content;
  height: auto;
  padding: 10px;
  width: 97.5%;
  left: 0;

}

.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 190px;
  padding: .5rem;
}

.socialmedia img {
  width: 60px; 
  height: auto;
  margin: .5rem;
}



/*----------------------home page-------------------------------*/


.explore {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;

}

.explore h2 {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 2px;
  color: #1a1a1a;
  border-bottom: 1px solid black;
  width: 70%;
  /* padding-bottom: 10px; */

}

h3 {
  font-size: 30px;
  font-family: "Sarabun";
  /* padding-bottom: 0px; */
  /* margin-bottom: -10px; */
  margin: auto;
  margin-top: 20px;
  margin-left: 30px;
  background-color: #ff891b;
  width: 20%;
  text-align: center;
  border: 2px solid black;
  
}


.greet {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 20px;
  /* padding: 10px; */
  /* justify-content: center; */
  justify-items: center;
  text-align: center;
  margin-left: 15px;;
  margin-bottom: 45px;

}

.greet p {
  background-color: rgba(209, 181, 209, 0.863);
    border-radius: 10px;
    font-size: 22px;
    text-align: center;
    border: 1px solid black;
    padding: 15px;
    margin: auto;


}

.greet img {
  width: 200px;
  height: auto;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgb(41, 41, 41);


}

.row {
  display: flex;
  position: relative;
  padding: auto;
  margin: auto;

}


.feature-box {
  /* background-color: rgba(194, 194, 194, 0.767); */
  /* background-color: rgb(184, 158, 187); */
  /* box-shadow: 0 .5rem 1rem rgb(41, 41, 41); */
  text-align: center;
  border-radius: 10px;
  margin: 30px 20px;

}


.feature-box img {
  width: 270px;
  height: auto;
  box-shadow: 0 0 10px black;
  
}

.feature-box img:hover,
.box img:hover {
  opacity: .8;
  transition: .2s;
  
}

.name, .price {
  font-size: 20px;
  font-family: "Sarabun", "Poppins";
  margin: auto;
  padding: 5px;
  font-weight: 600;
}

.shop-button {
  position: relative;
  display: flex;
  width: 200px;
  height: auto;
  justify-content: center;
  text-align: center;
  background-color: #ff891b;
  border: 1px solid black;
  border-radius: 5px;
  align-self: center;
  margin: auto;
  margin-top: 10px;
  padding: 10px;

}

.shop-button a {
  color: black;
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins';
  margin: auto;

}

.shop-button:hover {
  background-color: #f88b42;
  transition: .2s;
}



.shelves {
  margin: -16px;
  justify-content: center;
  background-color: rgb(122, 122, 122);
  margin-top: 60px;
  align-items: center;
  text-align: center;  

}

.shelves img {
  width: 100%;
  opacity: .3;
  position: relative;
}


.shelves p {
  position: absolute;
  color: rgb(253, 118, 55);
  font-size: 80px;
  font-weight: 700;
  text-shadow: 0 0 4px black;
  left: 460px;
}

/*------------------------------shop page-------------------------------*/


.genre {
  margin: auto;
}

.genre ul {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin-top: 40px; 
  background-color: #ffc506;
  border-bottom: 1px solid black;
  box-shadow: 0 0 4px rgb(41, 41, 41);
  padding: 5px;

 
}

.genre a {
  padding: 15px;
  font-size: 25px;
  text-decoration: none;
  color: black;
  font-weight: 800;
  margin-left: 80px;

  
  
}

.genre a:hover {
  opacity: .6;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pop img,
.indie img,
.rock img,
.country img,
.jazz img{
  width: 200px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 8px rgb(41, 41, 41);

}


.heading {
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 4px;
  color: #1a1a1a;
  background-color: #ff891b;
  border: .5px solid black;
  font-family: 'Sarabun';
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 0px;
  text-align: center;
}


.box {
  /* background-color: rgba(194, 194, 194, 0.767); */
  text-align: center;
  margin: 20px 15px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.coming-soon {
  margin: auto;
  margin-top: 40px;
  padding: 30px;
  display: grid;
  border: 1px solid rgb(104, 104, 104);
  border-radius: 10px;
  justify-items: center;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(209, 181, 209, 0.863);
  
}

.coming-soon:hover{
  box-shadow: 0 0 10px black;
  transition: .2s;
}


.coming-soon img {
  width: 300px;
  height: auto;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  
}

.coming-soon h3 {
  width: 70%;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
}

.coming-soon p{
  font-size: 22px;
  letter-spacing: .5px;
}

/*------------------------faq page-------------------------*/

.faq-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 30px;
    
}

.question {
  font-size: 25px;
  font-weight: 600;
}

.answer {
  letter-spacing: .5px;
}

.faq-box {
    margin: auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.faq-box img {
  width: 85%;
  height: auto;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 0 8px rgb(41, 41, 41);

}

.arrive,
.return,
.cancel,
.track,
.international {
  background-color: rgba(209, 181, 209, 0.863);
  margin: auto;
  padding: 0 8px;
  border-radius: 10px;
  border: .5px solid black

}





/*------ form ------*/

.faq-bottom {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.con-img img {
  width: 350px;
  height: auto;
  margin-left: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.faq-bottom form {
  flex: 1 1 50rem;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
  border-radius: 10px;
  background-color: rgba(209, 181, 209, 0.863);
  margin: 10px 5px;
 justify-content: center;
 text-align: center;
 margin: 50px;
 box-shadow: 0 0 15px black;

}

.input, .textarea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}


 .faq-bottom form legend{
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  font-size: x-large;
}


input, textarea {
  font-size: 15px;
  border: solid 1px #8D8D92;
  border-radius: 10px;
  width: 90%;
  max-width: 20rem;
  padding: 0.75rem;
  background-color: #e4e4e4;
  margin: 5px;

}

.send {
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}

.send:hover {
  background-color: #d6d6d6;
  transition: .2s;
}


